:root {
  box-sizing: border-box;
  --keyboard-width: 400px;
}

::before, ::after, * {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.calculator-container {
  max-width: var(--keyboard-width);
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  
}

.keyboard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, calc(var(--keyboard-width) / 4));
  background-color: rgb(95, 95, 95);
}

.keyboard button {
  margin: 0.35em;
  font-size: 1.5em;
  font-weight: bold;
  color: grey;
  font-family: inherit;
}

.display {
  flex: 1;
  background-color: rgb(56, 56, 56);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1em;
  flex-direction: column;
}

.display h1 {
  color: rgb(231, 231, 231);
  font-size: 3em;
  margin: 0;
}

.display p {
  margin: 0;
  color: grey;
  font-size: 1.5em;
}